<%- include('layouts/header') %>
<%- include('layouts/navbar') %>
<div class="containter mt-3">
  <img src="/img/aa.png" alt="profile-photo" class="img-thumbnail rounded-circle mx-auto d-block w-25">
  <h5 class="lead text-center my-3">Dzikri Nur Akbar | Backend Web Developer</h5>
</div>
<%- include('layouts/footer') %>